---
// src/components/SoftwareCard.astro
import type { CollectionEntry } from "astro:content";
import { Icon } from "astro-icon/components";

interface Props {
    item: CollectionEntry<"software">["data"];
}

const { item } = Astro.props;
---

<div
    class="bg-background p-6 rounded-xl border border-border-color/50 shadow-lg hover:shadow-depth-md transition-all duration-300 ease-in-out transform hover:-translate-y-1 flex flex-col h-full"
>
    <div class="flex-grow">
        <h3 class="text-xl font-semibold text-text-primary mb-2">
            <a
                href={item.link}
                target="_blank"
                rel="noopener noreferrer"
                class="hover:text-primary-accent transition-colors"
            >
                {item.name}
                <Icon
                    name="mdi:open-in-new"
                    class="w-4 h-4 inline-block ml-1 text-text-secondary group-hover:text-primary-accent"
                />
            </a>
        </h3>
        <p class="text-sm text-text-secondary leading-relaxed mb-4">
            {item.description}
        </p>
    </div>
</div>
